.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profilePicLarge{
  object-fit: cover;
  width:180px;
  height: 180px;
  border-radius: 50%;
}

.conversationContainer{
    background: #cdcde0;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}
.conversationProfile{
}
.conversationProfilePicContianer, .conversationProfileNameContianer{
    text-align: left;
}


.conversationText{
    background: #e6e7ef;
    padding: 10px;
    color:black;
    border-radius: 10px;
}
.conversationText:hover{
    text-decoration: none;
}

.profilePicMedium{
    object-fit: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
}

.profilePicSmall{
    object-fit: cover;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.registerPic{
  width:100% ;
}
.profileTitle{
  color:gray;
  font-size: 19px;
  font-weight: bold;
}
.profileTitle:hover{
  text-decoration: none;
  color:blue;
}
.my-interests{
 font-size: 17px;
  margin: 5px;
}

.uploadBrowseButton{
    border: 1px dotted gray;
    padding: 6px;
    color: gray;
}
.meetingListProfile{
  border-right: 1px solid gray;
}
.meetingProcess{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.uploadBrowseButton:hover{
    border: 1px dotted gray;
    padding: 6px;
    color: gray;
    background: #bbbbbb;
}

.nav-link a{
  color: white;
}
.albumPhoto{
  width: 90%;
  max-width: 500px;
}

.userFullName{
  color: #563918;
  text-decoration: none;
}
.userFullName:hover{
  text-decoration: none;
color: #282c34
}


.meetingListMeetingText{
  min-height: 200px;
  padding: 20px;
  padding-top: 50px;
}

.meetingListUserMeta{
 padding-left: 20px;
  text-align: left;
}
.messageBox{
  background: #d5dee6;
  padding: 10px;
  border-radius: 5px;
  height: 350px;
  overflow-y: scroll;
  border-radius: 5px;
  margin-bottom: 10px;
}
.incomingMessage, .outgoingMessage{
  border-radius: 12px;
  width: 70%;
  margin-bottom: 5px;
}

.messageDate{
  color: gray;
  float: right;
  margin-right: 5px;
  font-size: 14px;
}
.incomingMessage{
  background: #d6aeb6;
    float: left;

}

.outgoingMessage{
  background: #a3d47e;
  float: right;
}

.meetingListPhoto{
  width: 90%;
  object-fit: cover;
  max-height: 300px;
}



.meetingListSingleMeetingContainer{
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.searchItemContainer{
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8c8c8;
}
.customRadioLabel{
  font-size: 20px;
}
.customRadio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:25px;
  height:25px;
  border-radius:50%;
}
.customRadio:checked{
  border:10px solid #4099ff;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
