
.AppMobile {
    height: 100%;
    text-align: center;
    font-size: 0.9rem;
}

.copyIbanButtonMobile {
    padding: 2px;
    font-size: 0.8rem;
}

.profilePicSmallMobile {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notificationTextMobile {
    padding-top: 0px;
    margin-left: 53px;
}

.profileMetaMobile {
    width: 200px;
    margin-top: 25px;
    height: 100px;
}

.conversationTextMobile {
    background: #ffffff;
    padding: 10px;
    color: black;
    border-radius: 10px;
    width: 80%;
}

.conversationTextMobile:hover {
    text-decoration: none;
}

.profileTitleMobile {
    color: gray;
    font-size: 0.9rem;
    font-weight: bold;
}

.profileTitleMobile:hover {
    text-decoration: none;
    color: blue;
}

.profileTitleMobileDiv {
    float: left;
    padding: 5px;
}

.my-interestsMobile {
    font-size: 13px;
    margin: 5px;
}

.hamburgerContainerMobile {
    overflow: hidden;
    background-color: #02a8af;
    position: fixed;
    bottom: 50px;
    height: 175px;
    width: 50%;
    right: 0px;
}

.hamburgerMenuItemMobile {
    width: 100%;
    border-bottom: 1px solid white;
    height: 34px;
    font-size: 1.2em;
}

.hamburgerMenuItemMobile a {
    color: white;
    font-weight: 600;
}

.hamburgerButtonMobile {
    font-size: 2.2em;
    float: right;
    margin-right: 10px;
}

.navbarMobile {
    overflow: hidden;
    background-color: #02a8af;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.albumPhotoMobile {
    width: 90%;
}

.navbarMobile a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

.timeSelectMobile {
    width: 81px;
}

.timeSelectLabelMobile {
    margin-top: 10px;
}

.timeSelectContainerMobile {
    width: 245px;
}

.navbarMobile a:hover {
    background: #f1f1f1;
    color: black;
}

.messageBoxMobile {
    width: 100%;
    background: #f5f0e8;
    border-radius: 5px;
    height: 350px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.fontMobile {
    font-size: 0.8rem;
}

.navbarMobile a.active {
    background-color: #534269;
    color: white;
}

.menuIconMobile {
    font-size: 25px;
}

/*.mainMobile {*/
/*padding: 16px;*/
/*margin-bottom: 30px;*/
/*}*/

.settingsTitlesMobile {
    float: left;
    width: 50%;
}

/*.profileActionsMobile{*/
/*padding: 5px;*/
/*}*/

.settingsTitlesMobile a {
    color: #7f868f;
    font-weight: 600;
    font-size: 1.1rem;
}

.loginContainerMobile {
    padding: 15px;
    height: 300px;
    opacity: 0.9;
}

.btn-menuColorMobile {
    background-color: #c1dfe0;
}

.registerContainerMobile {
    padding: 15px;
    height: 100vh;
}
.registerCompletedMessage{
    border-radius: 4px;
    background-color: white;
    padding: 5px;
}

.registerBody{
    background: #233a48;
}

.landing_parallax_textMobile {
    padding: 40px;
    background-color: #2b292a;
    color: white;
    height: 100%;
    font-size: 2em;
    opacity: 0.7;
    text-align: center;
}

.landingSlideMobile {
    width: 100%;
    height: 385px;
    background-image: url(/img/landing_mobile_slide.jpg);
    background-size: cover;
}

/*.landingSlideTitleMobile{*/
/*color: #ffffff;*/
/*font-weight: 600;*/
/*border: 1px solid white;*/
/*padding: 3px;*/
/*width: 90%;*/
/*border-radius: 9px;*/
/*}*/
/*.landingSlideTextMobile{*/
/*color: #3d3530;*/
/*font-weight: 600;*/
/*padding: 9px;*/
/*border-bottom: 2px dotted gray;*/

/*}*/
/*.landingSlideTitleContainerMobile{*/
/*padding-top: 5px;*/
/*}*/
.landingLoginRegisterMobile {
    width: 90%;
}

.landingContainerMobile {
    width: 100%;
   /* padding: 5px;*/
}

.androidDownloadLink{
    width: 95%;
}
.iosOnTheRoad{
    background-color: white;
}

.bottom{
    bottom: 25px;
    position: absolute;
}

.activityListActivityDetailMobile {
    white-space: pre-line;
}

.activityListDetailContainerMobile {
    width: 82%;
    margin-left: 5px;
}

.loginOuterMobile {
    background-image: url(/img/login_mobile.png);
    background-size: cover;
    min-height: 100%;
    position: absolute;
    width: 100%;
    margin-bottom: -50px;

}

.reviewBlockMobile {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c1c2ca;
    width: 80%;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}

.customRadioLabelMobile {
    font-size: 1em;
}
