html, body {
    height: 100%;
    margin: 0;
    font-family:  Montserrat,SansSerif;
}
.btn{
    font-size: 0.9rem;
}
.App {
 height: 100%;
  text-align: center;
    background-color: #eaebf1;
}
#root{
    height: 100%;
}


.profilePicLarge{
  object-fit: cover;
    width: 150px;
    height: 150px;
  border-radius: 50%;
}


.profilePicXSmall{
    object-fit: cover;
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.conversationContainer{
    background: #8db3f9;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.notificationRow{
 border-bottom: 2px solid #eaebf1;
}
.notificationText{
   padding-top: 25px;
}

.conversationText{
    background: #ffffff;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
.conversationText:hover{
    text-decoration: none;
}
.displayNone{
    display: none;
}
.profilePicMedium{
    object-fit: cover;
    width:120px;
    height: 120px;
    border-radius: 50%;
}

.profilePicSmall{
    object-fit: cover;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.registerPic{
  width:100% ;
}
.profileTitle{
  color:gray;
  font-size: 19px;
  font-weight: bold;
}
.profileTitle:hover{
  text-decoration: none;
  color:blue;
}
.my-interests{
 font-size: 17px;
  margin: 5px;
}

.uploadBrowseButton{
    border: 1px dotted gray;
    padding: 6px;
    color: gray;
}
.meetingProcess{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}

.uploadBrowseButton:hover{
    border: 1px dotted gray;
    padding: 6px;
    color: gray;
    background: #bbbbbb;
}
.clear-both{
    clear: both;
}
.nav-link a{
  color: white;
}
.albumPhoto{
    width: 90%;
    object-fit: cover;
    height: 200px;
}

.userFullName{
  color: #563918;
  text-decoration: none;
}
.userFullName:hover{
  text-decoration: none;
color: #282c34
}

.reviewTypeActivity{
    font-style: italic;
    color: #504a4a;
}

.rdtStatic .rdtPicker
{
    width: 100%;
}
.newNotification{
    background-color: #69ec76;
}
.settingsTitles a{
    color: #7f868f;
    font-weight: 600;
}

.activeTitle{
color:black;
font-weight: bold;
    cursor: pointer;
}
.loginContainer{
    margin-top: 130px;
    padding: 15px;
    height: 300px;
    opacity: 0.9;
    background: #1f1e23;
}
.color-white{
    color:white;
}
.registerContainer{
    margin-top: 130px;
    background: #233a48;
    padding: 15px;
    opacity: 0.9;
}
.registerOuter{
    min-height: 100%;
    width: 100%;
    position: absolute;
    margin-bottom: -50px;
    background-image: url(/img/register_bg.jpeg);
    background-size: cover;
}
.passiveTitle{
    color:#a9a5a5;
    font-weight: bold;
    cursor: pointer;

}
#iban{
    border: none;
    padding: 5px;
    background-color: white;
}
.paymentIcons{
    font-size: 25px;
    color: #4397f9;
}
.premiumWarning{
    font-size: 0.9rem;
    color: #255d2a;
}
.landing_parallax_text{
    padding: 40px;
    background-color: #2b292a;
    color: white;
    height: 100%;
    font-size: 3em;
    opacity: 0.7;
    text-align: center;
}
.landingBottom{
height: 200px;
}
.breakLine{
    white-space: pre-line;
}
.completeProfileLink{
    height: 25px;
    background: #cde6c1;
    margin-bottom: 3px;
}
.howitworks1{
    background: #1baebb;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.howitworks2{
    color: white;
    background-color: #4f466d;
    padding: 10px;
    font-weight: 600;
}

.btnJoin{
    background-color: #4f466d;
    color: white;
}
.landing_parallax {
    /* The image used */
    background-image: url("/img/landing_fixed_middle.jpg");

    /* Set a specific height */
    height: 250px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.activeTitle:hover, .passiveTitle:hover{
    color: black;
}

.reviewTypeFriend{
    font-style: italic;
    color: gray;
}
.landingSlide{
    width: 99vw;
    height: 100vh;
    background-image: url(/img/landing_slide.jpg);
    background-size: cover;
}
.landingTitleCounter{
    font-size: 2em;
}
.full-width{
    width: 100%;
}

.landingSlideTitle{
    color: #51456c;
    font-weight: 600;
    width: 325px;
    border: 1px solid red;
    padding: 9px;
    border-radius: 9px;

}

.landingTitle{
    margin-top: 25px;
    color: #a68375;
    font-weight: 600;
}
.landingSlideText{
    color: #3d3530;
        font-weight: 600;
    width: 900px;
    padding: 9px;
    border-bottom: 2px dotted gray;

}
.landingSlideTitleContainer{
    padding-top: 50px;
}
.landingSlideTextContainer{
    padding-top: 20px;
}
.landingOuter{
    width: 100%;
    min-height: 950px;
    background-color: #eff5f5;
}
.landingText{
    color: #646f7f;
    font-weight: 600;
}
.landingIcons{
    font-size: 2em;
    color: #a68375;
}
.landingFeatures{
    background: white;
    padding-top: 25px;
}
.lightOnGreen{
    color: #eff70a;
}
.bg-menu{
    background: linear-gradient(45deg,#00c4cc,#534269);
    padding-top: 0px;
    padding-bottom: 0;
}

.menuProfilePic{
 margin-top: -8px;
}
.outgoingMessageContainer{
    width: 80%;
    float: right;
}
.incomingMessageContainer{
    width: 80%;
    float: left;
}
.meetingDeadLine{
 text-align: left;
    padding-left: 40px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.meetingFormPhoto{
    width: 100%;
    margin-bottom: 15px;
    max-height: 400px;
}
.activityListActivityDetail{
  min-height: 100px;
    padding: 10px;
    white-space: pre-line;
}

.messageBox{
  background: #f5f0e8;
  padding: 10px;
  border-radius: 5px;
  height: 350px;
  overflow-y: scroll;
  margin-bottom: 10px;
}
.incomingMessage, .outgoingMessage{
  border-radius: 12px;
  margin-bottom: 5px;
}

.messageDate{
    color: gray;
    float: right;
    margin-right: -2px;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 8px;
}
.incomingMessage{
    background: #b3b7e6;
    padding: 9px 9px 3px;
    float: left;

}

.outgoingMessage{
  background: #85e847;
    padding: 9px 9px 3px;
    float:right ;

}
.footer{
    padding-top: 10px;
height: 50px;
}
.profileContent{
    padding-right: 20px;
}

.profileTitleDiv{
    margin-left: 15px;
    float: left;
}
.profileButton{
margin-bottom: 4px;
    width: 90%;
    font-size: 0.8rem;
}
.profileButtons{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eaebf1;
    padding-bottom: 10px;
}
.half-left{
    float: left;
    width: 48%;
}

.meetingListPhoto{
  width: 98%;
  object-fit: cover;
  max-height: 470px;
}

.city-filter-label{
    margin-top:7px
}
.container{
   background: white;
    padding-top: 15px;
    padding-bottom: 50px;
}

.outer{
    background: #eaebf1;
    min-height: 100%;
    width: 100%;
    margin-bottom: -50px;

}

.loginOuter{
    background-image: url(/img/login_bg.jpg);
    background-size: cover;
    min-height: 100%;
    position: absolute;
    width: 100%;
    margin-bottom: -50px;

}
.text-align-left{
 text-align: left;
}

.text-align-center{
    text-align: center;
}


.negativeReview{
    color:red;
}

.positiveReview{
    color:blue;
}


.meetingListSingleMeetingContainer{
  padding: 5px;
  border-bottom: 2px solid #eaebf1;
}
.reviewBlock{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c1c2ca;
}

.searchItemContainer{
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d8c8c8;
}
.customRadioLabel{
  font-size: 20px;
}
.customRadio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:25px;
  height:25px;
  border-radius:50%;
}
.customRadio:checked{
  border:10px solid #4099ff;
}
